* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// IMPORTS
@import "media";
@import "mapa";

// VARIABLES
$color-claro: #f9f9f9;
$font: 'Montserrat', sans-serif;

// MIXIN

@mixin ibmplex {
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 165%;
    min-height: 100vh;
}
h1{
    font-family: $font;
    color: $color-claro;
}
a{
    font-family: $font;
    color: $color-claro;
}
p{
    @include ibmplex;
    font-size: 20px
}
h2{
    @include ibmplex;
    color: $color-claro;
}

header {
    .navbar-brand, .nav-item {
      transition: 0.3s;
  
      &:hover {
        transform: translateY(-10px);
      }
    }
  }

main {
    .boton{
        background-color: transparent;
        color: #fff;
        padding: .5rem 1rem;
        border: 1px solid #fff;
        font-size: 1.5rem;
        width: 35%;
        transition: 0.3s
    }
    .boton:hover{
        transform: translateY(-10px);
        background-color: #fff;
        color: #000
    }
}
